.container {
    max-width: 960px;
    margin: auto;
    padding: 0 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container>section {
    flex: 1;
}
.dark-mode {
    background-color: #000;
}
.dark-mode h1 {
    color: #fff;
}

.footer-app {
    text-align: center;
}